/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NUM_SYM 1
#define NAV     2
#define META    3

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping-term-ms = <225>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
};

&mt {
    tapping-term-ms = <225>;
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
            layers = <0>;
        };
        combo_backspace {
            timeout-ms = <50>;
            key-positions = <8 9>;
            bindings = <&kp BSPC>;
            layers = <0>;
        };
        combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
            layers = <0>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp Q       &kp W    &kp E    &kp R         &kp T           &kp Y   &kp U     &kp I    &kp O     &kp P
    &kp A       &kp S    &kp D    &kp F         &kp G           &kp H   &kp J     &kp K    &kp L     &kp SEMI
    &mt LSHFT Z &kp X    &kp C    &kp V         &kp B           &kp N   &kp M     &kp FSLH &kp RSHFT
    &kp LCTRL   &kp LALT &kp LGUI &lt NAV SPACE &lt NUM_SYM RET &kp SQT &kp COMMA &kp DOT
            >;
        };

        num_sym {
            bindings = <
    &kp N1   &kp N2    &kp N3   &kp N4   &kp N5    &kp N6    &kp N7    &kp N8    &kp N9   &kp N0
    &kp EXCL &kp AT    &kp HASH &kp DLLR &kp PRCNT &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR
    &trans   &kp GRAVE &kp PIPE &kp BSLH &kp LBKT  &kp RBKT  &kp MINUS &kp EQUAL &trans
    &trans   &trans    &trans   &mo META &trans    &trans    &trans    &trans
            >;
        };

        nav {
            bindings = <
    &none    &kp UP   &none     &none  &none    &none &none &none &none &none
    &kp LEFT &kp DOWN &kp RIGHT &none  &none    &none &none &none &none &none
    &trans   &none    &none     &none  &none    &none &none &none &none
    &trans   &trans   &trans    &trans &mo META &none &none &none
            >;
        };

        meta {
            bindings = <
    &bt BT_CLR  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &none &none &none &none &none &none
    &none       &none        &none        &none        &none &none &none &none &none &none
    &none       &none        &none        &none        &none &none &none &none &none
    &bootloader &reset       &none        &none        &none &none &none &none
            >;
        };
    };
};
